# --- VOS REVENUS ---
REACT_APP_SALAIRE=xxxx
REACT_APP_REVENU_LOCATIF=xxxx
REACT_APP_TICKETS_RESTO=xxxx
REACT_APP_GOOGLE_REWARD=xxxx
# Mettez un montant ici seulement si vous voulez lisser la prime sur l'année (ex: 166)
REACT_APP_PRIME_JANVIER_FLUX=0

# --- VOS DEPENSES FIXES ---
REACT_APP_DEPENSE_PENSION=xxxx
REACT_APP_DEPENSE_VOITURE=xxxx
REACT_APP_DEPENSE_CHARGES_COUPLE=xxxx
REACT_APP_DEPENSE_NOURRITURE=xxxx
REACT_APP_DEPENSE_CHARGES_LOCATIF=xxxx
REACT_APP_DEPENSE_CREDIT_LOCATIF=xxxx
REACT_APP_DEPENSE_PREVOYANCE=xxxx
REACT_APP_DEPENSE_STREAM=xxxx
REACT_APP_DEPENSE_IA=xxxx
REACT_APP_DEPENSE_INTERNET=xxxx
REACT_APP_DEPENSE_TEL_FRANCK=xxxx
REACT_APP_DEPENSE_TEL_GABRIEL=xxxx

# --- LE PROJET ITE ---
# C'est ici que vous testez les scénarios :
# Mettez 535 pour 36 mois
# Mettez 401 pour 48 mois
REACT_APP_PROJET_MENSUALITE=xxxx
REACT_APP_PROJET_TOTAL=xxxx

# --- VOTRE EPARGNE (STOCK) ---
REACT_APP_EPARGNE_LIVRET_A=xxxx
REACT_APP_EPARGNE_LEP=xxxx
REACT_APP_EPARGNE_CSL=xxxx
REACT_APP_EPARGNE_PARTS=xxxx
REACT_APP_EPARGNE_INTERESSEMENT=xxxx
# Votre prime de Janvier qui arrivera bientôt
REACT_APP_EPARGNE_PRIME_JANVIER=xxxx
